body {
    background-image: url("./images/background2.jpg");
}

nav {
    background-color: rgb(20, 20, 73);
    width: 120%;
    font-family: 'Carter One', cursive;
    margin-top: -.5rem;
    margin-left: -.5rem;
    margin-right: .5rem;
    position: fixed;
}

nav a {
    color:rgb(139, 158, 175);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#main_title {
    padding-top: 3rem;
    text-align: center;
}

#main_title h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
}

#main_title p {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
}

#main_title img {
    width: 60%;
}

#description {
    background-color: rgba(20, 20, 43, .8);
    width: 120%;
    margin-left: -.5rem;
    margin-right: 3rem;
    padding-bottom: .2rem;
}

#description h2 {
    font-family: 'Kalam', cursive;
    padding-left: 1rem;
    color: rgba(235, 235, 14, 0.849);
    padding-top: 1rem;
}

#description p {
    display: block;
    margin-right: 9.8rem;
    font-family: 'Rubik', sans-serif;
    padding-left: 1rem;
    color:rgb(139, 158, 175)
}

h3 {
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
}

#mini_gallery {
    display: flex;
    max-width: 120%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#mini_gallery img{
    width: 60%;
    display: block;
    margin: 1rem;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 73);
    width: 120%;
    margin-left: -1rem;
    margin-bottom: -.5rem;
    
}

footer p {
    margin-left: 1rem;
    margin-right: -.5rem;
    display: inline;
    padding-top: .5rem;
    font-family: 'Kalam', cursive;
    color: rgba(235, 235, 14, 0.849);
    font-size: 1.5rem;
    
}

footer img {
    margin-left: 1rem;
    padding-top: 1rem;
    width: 5%;
    height: 2.5%;
}

@media only screen and (max-width: 700px){
    nav {
        width: 100%;
    }
}

