


body{
    background-image: url("./images/blue-rubber-texture-background-seamless-pattern-152713465.jpg");
}

h3 {
    font-size: 40px;
    margin-left: 2rem;
    font-family: 'Kalam', cursive;
}

nav {
    display: flex;
    background-color: #121b66;
    height: 5em;
    align-items: center;
    justify-items: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

nav a:link{
    color: rgb(181, 196, 218);
    background-color: #121b66;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Carter One', cursive;
    margin-left: 1em;
}

nav a:link:hover{
    color: #000;
}

#main_title h1 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1px;
    font-size: 5rem;
    color:#0e101b;
}

#main_title p {
    font-family: 'Kalam', cursive;
    margin-top: 1px;
    font-size: 3rem;
    color:#0e101b;
    min-width: 100px;
}

#main_title img {
    width: 700px;
}

#main_title {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-shrink: 2;
}


#main_title p h1 {
    margin: auto;
}

#description {
    background-color:rgba(38, 50, 67, 0.5);
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5rem;
}

#description h2 {
    color:rgb(204, 192, 17);
    font-size: 40px;
    background-color:rgba(4, 11, 24, 0);
    font-family: 'Kalam', cursive;
    padding-left: 2rem;
    margin-bottom: -10px;
    margin-top: auto;
}

#description p {
    background-color:rgba(4, 11, 24, 0);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#description a {
    background-color:rgba(4, 11, 24, 0);
    text-decoration: none;
    color: rgb(74, 9, 74);
}

#mini_gallery {
    margin: auto;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 20px;
    justify-content: center;
}

#mini_gallery img {
    width: 600px;
}

@media screen and (max-width: 768px) {
    #mini_gallery {
        display: grid;
        grid-template-columns: 600px;
        justify-content: center;
    }

    nav a:link {
        font-size: 25px;
    }

    html, body {
        overflow-x: hidden;
    }

}

